header{
    background-color: aquamarine;
}

form{
    width:600px;
    margin:0 auto;
}
input{
    display: inline-block;
   font-size: 20px;
}
button{
    font-size: 15px;
    padding: 5px;
}
table{
    width:600px;
    margin: 0 auto;
}